*{
  padding:0;
  margin:0;  
 
  
}
html{
    width:100%;
    height:100%;

    background: url("../images/background.jpg") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

div.upper-column  {
    position: absolute;
    width: 100vw;
    height:30vh;
    margin-top:4%;
    border:none;
    border-radius: 10px 5px 10px 5px;
    
    z-index:6;
   ;
}
div#Intro{
    
    width:300px;
    height:200px;
    margin-left: 37%;
    height: 200px;
    margin-top: 5%;
    font-size: 35px;
} 


       
           
            
           
            
             
              .topnav {
                  margin-top:5px;
                background-color: rgba(81, 173, 209, 0.993);
                overflow: hidden;
                
              }
              
              /* Style the links inside the navigation bar */
              .topnav a {
                float: left;
                color: #ffffff;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left:60px;
              }
              .topnav .icon {
                display: none;
              }
              
              /* Change the color of links on hover */
              .topnav a:hover {
                background-color: #ddd;
                color: black;
              }
              
              /* Add a color to the active/current link */
              .topnav a.active {
                background-color: rgb(167, 168, 167);
                color: white;
              }
              nav.topnav > a:first-child{
                  margin-left:150px;
              }
             img#profile{
                height:27vh;
                width:18vw;
                 margin-top:1%;
                  display:block;
                  margin-left: auto;
                  margin-right: auto;
                  opacity:1.0;
                  z-index:7;
                  
              }
              @media screen and (max-width: 700px) {
                img#profile{
                    height:27vh;
                    width:24vw;
              }
              #a,#b,#c{
                color: rgb(233, 91, 91);
                text-shadow: 2px 2px;
            }

            }
            #a,#b,#c{
                color: rgb(223, 204, 204);
                text-shadow: 2px 2px;
            }